@import 'variables';

%chart-container {
    display: flex;
    padding-block: 1rem;
    width: 100%;
    height: calc(100svh - 7.5rem);
    justify-content: center;
    align-items: flex-start;
}

.chart-container {
    @extend %chart-container;
    background-color: $--color-background1;
}

.chart-container-l {
    @extend %chart-container;
    background-color: whitesmoke;
}